* {
 font-family: $font-primary;
}

*,
::before,
::after {
 box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul {
 margin: 0;
 padding: 0;
 color: $color-primary;
}

ul {
 list-style: none;
}

input {
 outline: none;
 caret-color: $color-secondary;
 color: $color-secondary;
}

input::placeholder {
 color: $color-secondary;
 opacity: 0.7;
 transition: all ease-in-out .3s;
}

input:focus::placeholder {
 color: transparent;
}

a {
 text-decoration: none;
 color: $color-primary;
 transition: color 0.3s ease-in-out;
 font-weight: 500;
}

a:hover {
 color: $color-secondary;
}


.active {
 position: relative;
 color: $color-secondary;
}

.active::before {
 content: '';
 position: absolute;
 left: 0;
 bottom: -5px;
 width: 40%;
 height: 4px;
 background-color: $color-secondary;
 border-radius: 50px;
}

.row {
 display: flex;
}

.alignCenter {
 align-items: center;
}

.spaceBtwn {
 justify-content: space-between;
}

.column {
 display: flex;
 flex-direction: column;
}

.uppercase {
 text-transform: uppercase;
}

.bold {
 font-weight: 700;
}

.colored {
 color: $color-secondary;
}

.redbar {
 width: 29px;
 height: 4px;
 background-color: $color-secondary;
 border-radius: 4px;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: $color-secondary;
}

::-webkit-scrollbar-thumb:hover {
 background: #555;
}