* {
 font-family: $font-primary;
}

*,
::before,
::after {
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul {
 margin: 0;
 padding: 0;
 color: $color-primary;
}

h1 {
 font-size: 60px;
}

button {
 cursor: pointer;
 border: none;
 width: fit-content;
}

ul {
 list-style: none;
}

input {
 outline: none;
 border: none;
 caret-color: $color-secondary;
 color: $color-secondary;
}

input[type="submit"] {
 cursor: pointer;
 width: fit-content;
}

input:not(input[type="submit"]) {
 background-color: #F4F4F4;
 padding: 13px 10px;
 border-radius: 6px;
}

input::placeholder {
 color: $color-secondary;
 opacity: 0.7;
 transition: all ease-in-out .3s;
}

input:focus::placeholder {
 color: transparent;
}

input[type=range] {
 height: 39px;
 -webkit-appearance: none;
 margin: 10px 0;
 width: 100%;
 background-color: transparent !important;
}

input[type=range]:focus {
 outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height: 15px;
 cursor: pointer;
 box-shadow: 0px 0px 0px #000000;
 background: #ED5544;
 border-radius: 30px;
 border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
 box-shadow: 0px 0px 0px #ED5544;
 border: 2px solid #ED5544;
 height: 31px;
 width: 32px;
 border-radius: 50px;
 background: #FFFFFF;
 cursor: pointer;
 -webkit-appearance: none;
 margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
 background: #ED5544;
}

input[type=range]::-moz-range-track {
 width: 100%;
 height: 15px;
 cursor: pointer;
 box-shadow: 0px 0px 0px #000000;
 background: #ED5544;
 border-radius: 30px;
 border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
 box-shadow: 0px 0px 0px #ED5544;
 border: 2px solid #ED5544;
 height: 31px;
 width: 32px;
 border-radius: 50px;
 background: #FFFFFF;
 cursor: pointer;
}

input[type=range]::-ms-track {
 width: 100%;
 height: 15px;
 cursor: pointer;
 background: transparent;
 border-color: transparent;
 color: transparent;
}

input[type=range]::-ms-fill-lower {
 background: #ED5544;
 border: 0px solid #000000;
 border-radius: 60px;
 box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
 background: #ED5544;
 border: 0px solid #000000;
 border-radius: 60px;
 box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
 margin-top: 1px;
 box-shadow: 0px 0px 0px #ED5544;
 border: 2px solid #ED5544;
 height: 31px;
 width: 32px;
 border-radius: 50px;
 background: #FFFFFF;
 cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
 background: #ED5544;
}

input[type=range]:focus::-ms-fill-upper {
 background: #ED5544;
}

a {
 text-decoration: none;
 color: $color-primary;
 transition: color 0.3s ease-in-out;
 font-weight: 500;
 width: fit-content;
}

a:hover {
 color: $color-secondary;
}


.active {
 position: relative;
 color: $color-secondary;
}

.active::before {
 content: '';
 position: absolute;
 left: 0;
 bottom: -5px;
 width: 80%;
 height: 4px;
 background-color: $color-secondary;
 border-radius: 50px;
}

.error {
 color: red;
 font-weight: bold;
}

.underline {
 text-decoration: underline;
}

.row {
 display: flex;
}

.alignCenter {
 align-items: center;
}

.spaceBtwn {
 justify-content: space-between;
}

.column {
 display: flex;
 flex-direction: column;
}

.uppercase {
 text-transform: uppercase;
}

.bold {
 font-weight: 700;
}

.colored {
 color: $color-secondary;
}

.gap-1 {
 gap: 10px;
}

.gap-2 {
 gap: 20px;
}

.gap-3 {
 gap: 30px;
}

.redbar {
 width: 29px;
 height: 4px;
 background-color: $color-secondary;
 border-radius: 4px;
}

.section-buy-header,
.section-property-details {
 display: flex;
 justify-content: space-between;
 width: 90%;
 margin: 200px 0 200px auto;
 gap: 100px;

 .column {
  gap: 30px;
  width: 50%;
 }

 img {
  width: 50%;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
 }

 .location-icon {
  width: auto;
 }
}

.section-categories,
.section-most-viewed,
.section-last-properties,
.section-reviews {
 width: 90%;
 margin: 50px auto auto auto;

 .row {
  gap: 10px
 }

 h2 {
  font-size: 44px;
  margin-top: 20px
 }
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: $color-secondary;
}

::-webkit-scrollbar-thumb:hover {
 background: #555;
}